/* General reset and font settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #87CEEB; /* Celeste */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Maximum width of the form */
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    width: 100%; /* Ocupa todo el ancho del contenedor */
}

input {
    width: calc(100% - 20px); /* Full width minus padding */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #46A2FD; /* Color for the button */
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #357ABD; /* Darker shade on hover */
}

#registroStatus {
    text-align: center;
    margin-top: 10px;
    color: #333;
}
